<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-blue-300 font-['helvetica_now_display']">
    <nav class="bg-gray-300 w-full text-2xl flex justify-between px-5 py-3">
        <h3 class="text-5xl font-extrabold bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text text-transparent drop-shadow-[3px_3px_0_rgba(0,0,0,0.6)] tracking-widest uppercase">
            BagShop
        </h3>
        <% var loggedin = typeof loggedin !== "undefined" ? loggedin : true %>
            <% if(loggedin){ %>
                <div class="flex gap-5 items-center">
                    <a href="/shop">Shop</a>
                    <a href="/cart">Cart</a>
                    <a class="text-xl text-white bg-red-700 rounded-lg px-3 py-2" href="/users/logout">Logout</a>
                </div>
                <% } %>

    </nav>