<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body class="bg-[#bfbfbf]">
    <div>
        <span class="text-5xl text-[#344151]">Scatch</span>
        <div class="flex justify-center items-center gap-20 mt-10">
            <div class="rounded-md m-10 w-[30vw] p-5">
                <form action="/user/register" method="post">
                    <div class="text-3xl mt-10">Welcome to <span class="text-blue-500 text-5xl font-semibold">Scatch</span></div>
                    <div class="text-2xl mt-2 tracking-tight px-3">Create Your Account</div>
                    <div class="flex flex-col gap-10 mt-5">
                        <input class="bg-gray-400 rounded-lg p-3 text-black outline-none" type="text" placeholder="Full Name" name="name">
                        <input class="bg-gray-400 rounded-lg p-3 text-black outline-none" type="email" placeholder="Email" name="email">
                        <input class="bg-gray-400 rounded-lg p-3 text-black outline-none" type="password" placeholder="Password" name="password">
                        <input class="border-2 bg-blue-600 text-medium outline-none rounded-sm w-[8vw] text-white border-red-400 py-2" type="submit" value="Create Account">
                    </div>

                </form>
            </div>
            <div class="rounded-md m-10 w-[30vw] p-5">
                <form action="/shop" method="post">
                    <div class="flex flex-col gap-10 mt-10">
                        <span class="text-3xl font-semibold font-sans">Login Your Account</span>
                        <input class="bg-gray-400 rounded-lg p-3 text-black outline-none" type="email" placeholder="Email" name="email">
                        <input class="bg-gray-400 rounded-lg p-3 text-black outline-none" type="password" placeholder="Password" name="password">
                        <input class="border-2 bg-blue-600 text-medium outline-none rounded-sm w-[8vw] text-white border-red-400 py-2" type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body>
    <%- include('./partials/header') %>

        <% if(error.length>0){ %>
            <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
                <span class="inline-block mt-1 mb-1 text-white">
                    <%= error %>
                </span>
            </div>
            <% } %>
                <div class="w-full h-screen flex px-20">
                    <div class="w-1/2 flex items-center justify-center h-screen">
                        <div class="w-full px-32">
                            <h3 class="text-4xl">welcome to <span class="text-red-800 font-semibold">BAGSHOP</span></h3>
                            <h4 class="text-2xl mb-5">Create your account</h4>
                            <form autocomplete="off" action="/users/register" method="post">
                                <input
                                    class="bg-zinc-100 block w-full outline-none px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                    type="text" placeholder="Full Name" name="fullname">
                                <input
                                    class="bg-zinc-100 block outline-none w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                    type="email" placeholder="Email" name="email">
                                <input
                                    class="bg-zinc-100 outline-none block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                    type="password" placeholder="Password" name="password">
                                <input class="px-5 cursor-pointer rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit"
                                    value="Create My Account">
                            </form>
                        </div>
                    </div>
                    <div class="w-1/2 flex items-center justify-center h-screen">
                        <div class="w-full px-32">
                            <h4 class="text-2xl capitalize mb-5">login your account</h4>
                            <form autocomplete="off" action="/users/login" method="post">
                                <input
                                    class="block outline-none bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                    type="email" placeholder="Email" name="email">
                                <input
                                    class="block outline-none bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                                    type="password" placeholder="Password" name="password">
                                <input class="px-5 cursor-pointer block rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit"
                                    value="Login">
                            </form>
                        </div>
                    </div>
                </div>
                <%- include('./partials/footer') %>
</body>

</html>